*.[o]
analysis/generateHists
*.swp
tool/scanCut.sh
*.dataset
*.xml
analysis/test*
analysis/*.list
analysis/plotsFile
analysis/csh
analysis/err
analysis/plotsFile
analysis/report
analysis/list
analysis/log
analysis/rm.sh
analysis/monitorAndSubmit.sh
analysis/3p0_out
analysis/3p2_out
analysis/3p5_out
analysis/3p9_out
analysis/debug.log
analysis/results
analysis/submit.sh
